/* This is a 
comment */

@import url(http://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900);
@import url(http://fonts.googleapis.com/css?family=Clicker+Script);


/* GLOBAL */

h3 {
	margin: 0 0 0 10px;
}

p {
	font-size: 1em;
	line-height: 1.5em;
}

figure {
	margin: 0 0 0 10px;
}

figcaption {
	/*font-weight: normal;
	font-size: 0.75em;
	line-height: 1.5em;
	font-family: Georgia, "New Times Roman", serif; */

	font: normal 0.75em/1.5em 'Elsie Swash Caps', cursive;
	color: #777;
	text-align: right;
}

.milk-text {
	font: bold, 2.6em, 'Elsie Swash Caps', cursive;
	color: white;
	text-align: right;
	text-shadow: 0 2px 3px;
}

.shadow {
	box-shadow: 0 3px 10px #333;
}

.border-right {
	border-right: 1px dotted #ccc;
	padding-right: 30px;
}

#logo h1 {
	font-family: "Clicker Script", "Arial";
}

#logo h2 {
	font-family: "Elsie Swash Caps", cursive;
}

/* MEDIA */

img, video, audio {
	max-width: 100%;
}

/* FIXES */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}

.clear {
	clear: both;
}

/* LAYOUT */

* {
	box-sizing: border-box;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #D3D3D3;
}

.col-1 {
	float: left;
	width: 32%;
	background: #E6E6FA;
}

.col-2 {
	float: left;
	width: 66%;
	background: #E0FFFF;
}

.col-3 {
	background: #FFFFE0;
}


[class*="col-"] {
	margin-left: 2%;
}

.first {
	margin-left: 0%;
}

/* SECTIONS */
header {
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	background: #FFF;
	z-index: 1;
}

section {
	padding: 20px;
	margin-bottom: 20px;
}

/* Social */

#social {
	position: fixed;
	top: 200px;
	right: 20px;
	width: 40px;
	z-index: 1;
}

#social a {
	display: block;
	width:40px;
	height:40px;
	background: pink;
}

/* BACKGROUNDS */

.white-wood {
	background: url(../images/white-wood.jpg) no-repeat center top;
	background-size: cover;
}

